body {
  font-family: "Open Sans", Helvetica Neue, sans-serif !important;
  background: #f9f9f9 !important;
  font-size: 90%;
}

.navbar{
  padding: 10px 20px;
  background: #fff;
  box-shadow: 1px 1px #bcbcbc;
}

.navbar-brand {
  max-width: 70px;
}

.navbar-brand img{
  max-width: 100%;
}

.closebtn {
  float: right;
  font-size: 1.2em;
}

.control-wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  padding: 5px 40px;
  align-items: center;
}

.thumbs {
  flex: 2 0px;
}

.thumbs i {
  cursor: pointer;
  color: #0aa2c6;
  border: 1px solid #0aa2c6;
  padding: 10px;
  border-radius: 50%;
  font-size: 1.3em;
  margin: 5px;
  transition: all .2s ease-in-out;
  background: #fff;
}

.thumbs i:hover {
  transform: scale(1.05);
}

.candidate-nav {
  font-weight: 400;
  color: #000;
  font-size: 0.9em;
  vertical-align: bottom;
}

.candidate-nav:hover {
  color: #0aa2c6;
  text-decoration: none;
}
`
.candidate-nav.prev {
  order: 1;
}

.thumbs {
  order: 2;
}

.candidate-nav.next {
  order: 3;
}

.profile-wrapper {
  padding: 0px 40px;
}

.profile-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch;
}

.info {
  flex: 3;
}

.location {
  flex: 2;
  display: flex;
  flex-direction: column;
  /*min-width: 300px;*/
}

.location .item {
  width: 50%;
}

.score {
  flex: 1;
}

.profile-wrapper .card-item {
  border: 1px solid #e8e8e8;
  box-shadow: 0.5px 0.5px #bcbcbc;
  border-radius: 5px;
  padding: 15px;
  margin: 3px;
  display: flex;
  background: #fff;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile-photo-wrapper {
    width: 40%;
    min-width: 120px;
}

.icons-wrapper {
  text-align: center;
  padding: 5px;
}

.icons-wrapper i {
  color: #0aa2c6;
  margin: 0px 5px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.icons-wrapper i:hover {
  color: #0e97ad;
}

i.cv {
  font-weight: 600;
  font-style: normal;
}

.profile-info-wrapper {
  flex: 2;
  margin-left: 20px;
  font-size: 0.9em;
}

.name {
  font-size: 1.4em;
  font-weight: 600;
  color: #22384c;
}

.label {
  text-transform: uppercase;
  color: #a6beb8;
  font-size: 0.8em;
  margin-top: 10px;
}

.content {
  font-size: 1em;
}

.sub-content {
  font-size: 0.9em;
  color: #808080;
}

.tag {
  font-size: 0.8em;
  color: #fff;
  padding: 5px;
  background: #22384c;
  margin-right: 5px;
  cursor: pointer;
}

img.profile-photo {
  max-width: 200px;
  border-radius: 5px;
  width: 100%;
}

.positive {
  color: #6ec48a;
}

.negative {
  color: #f79c57;
}

.location .column {
  flex: 1;
  font-size: 0.9em;
}

.location i {
  font-size: 1em;
  margin-right: 5px;
}

.profile-row.options {
  margin-top: 15px;
  justify-content: flex-start;
  font-size: 0.9em;
}

.option-item {
  color: #fff;
  padding: 5px 10px;
  background: #22384c;
  border-radius: 5px;
  margin-right: 5px;
  opacity: 0.3;
}

.option-item.active {
  opacity: 1;
}

.location .hours {
  margin-top: 20px;
}

.score-wrapper {
  width: 150px;
  height: 150px;
  margin: auto;
}

.radialProgressBar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ddd;
}

.radialProgressBar .overlay {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin: auto;
  background: #fff;
  text-align: center;
  color: #6ec48a;
  padding-top: 25px;
}

.overlay .score {
  font-size: 300%;
  font-weight: 500;
  line-height: 1em;
}

.overlay .fit {
  font-size: 100%;
  font-weight: 500;
}

.progress-88 {
  background-image: -webkit-linear-gradient(left, #6ec48a 50%, transparent 50%), -webkit-linear-gradient(144deg, #6ec48a 50%, #eaf4ed 50%);
  background-image: linear-gradient(90deg, #6ec48a 50%, transparent 50%), linear-gradient(-54deg, #6ec48a 50%, #eaf4ed 50%);
}

.card-title {
  color: #22384c;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}


.column.experience {
  flex: 2;
  overflow: hidden;
  min-width: 200px;
}

.column.middle {
  flex: 2;
  min-width: 250px;
}

.column.skills {
  flex: 2;

}

.experience-wrapper {
      font-size: 0.9em;
}

.experience-item {
  display: flex;
  align-items: baseline;
}

.experience-item:not(:last-child) {
  margin-bottom: 10px;
}

.year {
  font-size: 0.9em;
  font-weight: 600;
}

.tenure {
  font-size: 0.9em;
  font-weight: 600;
  color: #808080;
}

.favicon {
  position: relative;
  padding: 5px 0px;
  background: #fff;
  text-align: center;
}

.favicon img{
  width: 20px;
}

.experience-item:not(:last-child) > .favicon:after {
    content: "";
    height: 100%;
    width: 5px;
    border-left: 1px solid #999;
    position: absolute;
    top: 30px;
    left: 50%;
}

.favicon.none:before {
  content: " ";
  border: 1px solid #999;
  border-radius: 50%;
  background-color: #fff;
  padding: 0px 10px;
}

a.showmore {
  cursor: pointer;
  color: #0aa2c6 !important;
  margin-top: 10px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-6 {
  flex: 6;
}

.experience-level {
  flex-direction: column;
  flex: 1;
}

.experience-level .card-title {
  margin-bottom: 0px;
}

.highlights {
  flex: 4;
  flex-direction: column;
}

.speech-bubble {
  position: relative;
  background: #6ec48a;
  border-radius: .4em;
  color: #fff;
  text-align: center;
  width: 60px;
  padding: 5px;
  left: 45%;
  font-size: 0.9em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #6ec48a;
  border-bottom: 0;
  margin-left: -5px;
  margin-bottom: -5px;
}

.scale-wrapper {
  display: flex;
  margin-top: 10px;
}

.scale-wrapper .year {
  flex: 1;
  height: 10px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.scale-wrapper .year:last-child {
  border-right: 1px solid #000;
}

.scale-wrapper .year.highlight {
  background: rgba(34, 56, 76, 0.3);
}

.scale-wrapper .year:before {
    font-size: 0.8em;
    font-weight: 400;
    color: #999;
    margin-top: 10px;
    position: absolute;
}

.scale-wrapper .year:not(first-child):before {
    margin-left: -5px;
}

.scale-wrapper .year:nth-child(1):before {
  content: "0 year";
}

.scale-wrapper .year:nth-child(2):before {
  content: "5";
}

.scale-wrapper .year:nth-child(3):before {
  content: "10";
}

.scale-wrapper .year:nth-child(4):before {
  content: "15";
}

.scale-wrapper .year:nth-child(5):before {
  content: "20";
}

.scale-wrapper .year:nth-child(5):after {
  content: "25 years";
  font-size: 0.8em;
    font-weight: 400;
    color: #999;
    margin-top: 10px;
    float: right;
}

.highlight-wrapper {
  padding: 0px 20px;
}

#htmltagcloud {
  margin-top: 5px;
  line-height: 2.5em;
  font-size: 50% !important;
}

.skills-wrapper {
  font-size: 0.9em;
}

.skills-wrapper .more {
  display: none;
  color: #0aa2c6;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.skills-wrapper .extra {
  display: flex;
justify-content: flex-start;
flex-wrap: wrap;
width: 100%;
align-items: stretch;
}

.skills.card-item {
  flex-direction: column;
}


.skills .card-title {
  flex: 2;
}

.skill-count {
  float: right;
  font-size: 0.8em;
}

.skill {
  margin: 0px 10px 10px 0px;
  width: 45%;

}

.skill i {
  margin-right: 5px;
}

.skill .fa-times {
  font-size: 1.2em;
}

@media (max-width: 1024px) {
  .skill {
    width: 100%;
  }

  .skills-wrapper .more {
  display: block;
}

  .skills-wrapper .extra {
  display: none;
}

.profile-wrapper {
  padding: 0px 20px;
}

.control-wrapper {
    padding: 5px 20px;
}

}

@media (max-width: 800px) {
  .location .item {
  width: 100%;
}

.option-item:not(.active) {
  display: none;
}
}

@media (max-width: 500px) { 
  .candidate-nav .text {
    display: none;
  }

  .location .hours {
margin-top: 0px;
}

.profile-row.options {
margin-top: 5px;
}

  .profile-wrapper {
  padding: 0px 10px;
}

.control-wrapper {
    padding: 5px 10px;
}

.card-item.experience-level {
  padding-bottom: 30px;
}


}


