
html {
    color: #231f20;
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   min-height: 1000px;
   widows: 100%;
}
.header{
  position: relative;
  width: 100vw;
  height: 130px;
  background: url(../img/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headerText{
  position: absolute;
  display: block;
  bottom: 0px;
  text-align: center;
  width: 100vw;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.5)
}
.largeItem .listImage {
  width: 350px;
  height: 300px;
  margin: 0 15px 0 0;
}
.largeItem .listHeader span{
  font-size: 20px;
  line-height: 25px;
  vertical-align: top;
}
.largeItem p{
  font-size: 17px;
}
.largeItem .meta{
  font-size: 15px;
}
.largeItem .fa-video-camera, .largeItem .fa-star{
  font-size: 20px;
  line-height: 25px;

}
.folder{
  border-color: #3298cb;
  background: url(../img/folder.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px;
}
.listHeader{
  display: inline-block;
  margin: 0 0 15px 0;
  text-overflow: ellipsis;
}
.listHeader span{
  display: inline-block;
  display: -webkit-inline-box;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 40px;
  text-overflow: ellipsis;
  vertical-align: middle;

}
.icon{
  height:20px;
  width: 20px;
  background: pink;
  display: inline-block;
}
.listItem p{
  font-size: 15px;
  margin-bottom: 25px;
  line-height: 20px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 40px;
  text-overflow: ellipsis;
  display: -webkit-inline-box;

}
.meta{
  font-size: 12px;
}
.meta span{
  display: inline-block;
  margin-right: 10px;
}

i{
  position: relative;
  display: inline-block;
  font-size: 17px;
}
.fa-video-camera, .fa-folder, .fa-star{
    color: rgba(40,169,169, 0.8);
    line-height: 20px;
    margin: 0 5px;


}
.fa-star{
  color: transparent;
  -webkit-text-stroke: 1px #ef962b;
}
.fa-star:hover{
  color: #ef962b;
  -webkit-text-stroke: 1px #ef962b;
}
.activestar{
  color: #ef962b;
  -webkit-text-stroke: 1px #ef962b;
}

i .tooltiptext {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    visibility: hidden;
    width: 120px;
    background-color: #28a9a9;
    color: #fff;
    font-size: 12px !important;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    bottom: -200%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}

i .tooltiptext.favourite{
  background-color: #ef9717;
  color: #fff;
  -webkit-text-stroke: 0px;
}


i:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}


.glyphicon { margin-right:5px; }
.caption{
  margin-top: 158px;

}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    border: none;
}

.item.list-group-item .list-group-image{
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 10px 9px;
    margin-left: 256px;
    margin-top: 0px;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
p.group.inner.list-group-item-text
{
  margin-bottom: 11px;
}
.nopadding{
  padding: 0;
}
.filter{
    margin: 20px 0;
    background-color: #F6FAF9;
    position: relative;
    display: none;
}
.filteractive{
  display: block;
}
.filterlinks{
  position: absolute !important;
  bottom:20px;
  right:10px;
}
.filterlink{
  padding-left: 10px;
  color: #636463;
}
.boldlink{
  color: #0098bc;
}

.btn.btn-default {
  color: #1d1d1b;
  border: none;
  border-radius: 0;
  width: 130px;
  text-align: left;
  margin: 3px 3px;
}
.btn.btn-primary.active {
  color: #0098bc;
  background: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: 130px;
  text-align: left;
  margin: 3px 3px;
}
button.btn-primary.active:hover {
  background-color: white;
  color: #0098bc;

}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  color: #0098bc;
  background: white;
}

.navbar.navbar-inverse{
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #c6c6c6;
    padding: 0 10vw;
}
.navbar.navbar-inverse ul>li>a{
  color: #3c3c3b;
}
.navbar.navbar-inverse ul>li>a:hover{
  color: #282828;
}
.navbar.navbar-inverse ul>li>a>i{
  color: #0098bc;
  margin: 0 4px 0 0;
}
.upload{
  background: rgba(0, 152, 188, 0.05);
  color: #0098bc;
  margin-right: 20px;
  margin: 0;
}
.upload .margins{
  margin: 8px 0;
}
.navbar.navbar-inverse .navbar-nav > .activeitem{
    border-bottom: 3px solid #0098bc;
    font-weight: 600;
}
.searchfilter i{
  color: #ededed;
  cursor: pointer;
  padding: 0 5px;
}
.searchfilter i.listgridactive{
  color: #706f6f;
}
.headline{
  color: #0098bc;
  font-size: 16px;
}
.vcenter{
  vertical-align: middle;
}

.fa.fa-search.searchicon {
  color: #706f6f;
  cursor: pointer;
}
.searchbox{
  border-radius: 13px;
  height: 26px;
  outline: none;
  border: 1px solid #706f6f;
  padding: 0 10px;
  font-size: 12px;
  display: none;
}

.cancelsearch{
  display: none;
  cursor: pointer;
}
.activesearch{
  display: inline-block;
}

.fa.fa-plus.standardcolor{
  color: #706f6f;

}
.group.list-group-image {
  max-height: 160px;
  max-width: 100%;
  position: relative;
  display: block;
  z-index: 9;
}

.videolength{
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 50px;
  position: absolute;
  display: block;
  bottom: 10px;
  right: 0px;
  text-align: center;
  z-index: 9;
}



.item.col-xs-12.col-lg-12.featureditem{

    float: none;
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
    border: none;
    font-size: 120%;
}

.item.col-xs-12.col-lg-12.featureditem .list-group-image
{
}
.item.col-xs-12.col-lg-12.featureditem .thumbnail
{
    margin-bottom: 0px;
}
.item.col-xs-12.col-lg-12.featureditem .caption
{
    padding: 9px 9px 9px 9px;
    margin-left: 410px;
    margin-top: 0px;
}

.item.col-xs-12.col-lg-12.featureditem:before, .item.col-xs-12.col-lg-12.featureditem:after
{
    display: table;
    content: " ";
}

.item.col-xs-12.col-lg-12.featureditem img
{
    float: left;
}
.item.col-xs-12.col-lg-12.featureditem:after
{
    clear: both;
}
.featureditem-text
{
    margin: 0 0 11px;
}
.item.col-xs-12.col-lg-12.featureditem .group.list-group-image {
  max-height: 250px;
  max-width: 100%;
  position: relative;
  display: block;
  z-index: 9;
}

.popover{
  min-width: 200px;
  border-radius: 0px;
}
.popover div{
  font-size: 12px;
}
.popover a{
  color: #0098bc;

}
.popover ul{
  margin: 0;
  padding: 0;
}
.popover ul li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.activetect{
  font-weight: bolder;
  color: #0098bc;
}

.overlayimage{
  position: relative;
  display: block;
  z-index: 10;
  float: left;
  overflow: hidden;

}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  vertical-align: middle;
  text-align: center;
  padding-top: 25%;
}
.overlay i.fa{
  color: white;
}
.overlayimage:hover .overlay{
  opacity:1;
}
.newmessage{
  color: #ef9717;
}

.levelone{
  margin-left: 10px;
  margin-bottom: 5px;
}
.leveltwo{
  margin-left: 20px;
  margin-bottom: 5px;
}
.levelthree{
  margin-left: 30px;
  margin-bottom: 5px;

}
